.menu {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  color: #000;
}
