* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

#root,
html,
body {
  width: 100%;
  min-height: 100%;
}

.container {
  height: 100;

  background-color: antiquewhite;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;

  align-content: center;
}

.cards {
  width: 300px;
  height: 450px;
  background-color: black;
  margin: 10px;
}
