* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* #root,
html,
body {
} */

.container {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;

  display: flex;
  justify-content: space-around;
  align-items: center;

  flex-wrap: wrap;

  align-content: center;
}

.items {
  width: 100%;
  padding: 40px 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  width: 300px;
  height: 350px;
  background-color: palevioletred;
}
