* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  background-color: bisque;
}

.products {
  background-color: bisque;
  padding: 50px 30px 30px 30px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 350px;
  gap: 20px;
  margin-top: 30px;
}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s ease background 0.2;
}

.card:hover {
  transform: scale(1.05);
  background: #eef4ff;
}

.card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
}

.card .descricao {
  color: #444;
  font-size: 0.9rem;
  margin: 10px 0;
}

.card .preco {
  color: #2a7ae4;
  font-weight: bold;
  margin-top: 10px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.buttons button {
  width: 35px;
  height: 40px;
  border-radius: 70px;
  background-color: rgb(20, 162, 20);
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons button svg {
  color: #fff;
  font-size: 24px;
}

.search_bar {
  display: flex;
  justify-content: center;
  margin: 20px 10px 10px;
  padding-top: 25px;
}

.search_bar input {
  width: 300px;
  background: bisque;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  transition: all 0.3s ease;
}

.search_bar input:focus {
  border-color: rgb(20, 162, 20);
  box-shadow: 0 3px 5px rgb(20, 162, 20);
}
